In [3]:
import numpy as np
import pandas as pd

In [4]:
tickers = np.array(['MARUTI.NS','M&M.NS','TATAMOTORS.NS','BAJAJ-AUTO.NS','HEROMOTOCO.NS','EICHERMOT.NS', 'BHARATFORG.NS','BALKRISIND.NS', 'ASHOKLEY.NS', 'MRF.NS'])
tickers

array(['MARUTI.NS', 'M&M.NS', 'TATAMOTORS.NS', 'BAJAJ-AUTO.NS',
       'HEROMOTOCO.NS', 'EICHERMOT.NS', 'BHARATFORG.NS', 'BALKRISIND.NS',
       'ASHOKLEY.NS', 'MRF.NS'], dtype='<U13')

In [5]:
from yahoofinancials import YahooFinancials

In [6]:
yahoo_financials = YahooFinancials(tickers)

In [7]:
data = yahoo_financials.get_historical_price_data(start_date='2016-01-01', 
                                                  end_date='2020-12-31', 
                                                  time_interval='daily')

In [8]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in data[a]['prices']} for a in tickers})

In [9]:
prices_df.head()

,MARUTI.NS,M&M.NS,TATAMOTORS.NS,BAJAJ-AUTO.NS,HEROMOTOCO.NS,EICHERMOT.NS,BHARATFORG.NS,BALKRISIND.NS,ASHOKLEY.NS,MRF.NS
2016-01-01,4638.500000,632.674988,401.899994,2518.000000,2686.050049,1737.084961,443.850006,325.075012,88.800003,40552.148438
2016-01-04,4580.649902,621.250000,377.049988,2483.350098,2637.800049,1749.530029,435.450012,326.024994,92.000000,40505.851562
2016-01-05,4566.950195,624.599976,374.450012,2502.350098,2616.850098,1715.989990,428.725006,326.174988,93.099998,40593.250000
2016-01-06,4480.799805,613.075012,365.899994,2485.500000,2578.199951,1752.505005,438.174988,326.674988,92.699997,40419.199219
2016-01-07,4267.899902,598.724976,343.549988,2419.250000,2520.100098,1703.564941,412.325012,326.274994,91.349998,39066.250000

In [10]:
prices_df.to_csv('auto.csv')